@CHARSET "UTF-8";
/* ボタンの幅拡大 */
.c-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #BDD7EE;
  padding: 8px 16px;
  font-size: 16px;
  width:100px;
}

.c-button:hover {
  background: #006699;
  color: #ffffff;
}

.c-button:focus {
  outline: none;
}

/* upload button */
.originalFileBtn {
    /* border: 3px solid; */
    border: 0;
	background: #cecece;
  	border-radius: 3px;
  	font-size: 14px;
    display: inline-block;
    padding: 2px 1em;
    position: relative;
}

.originalFileBtn:hover {
  background: #4e4e4e;
  color: #ffffff;
}

.originalFileBtn input[type="file"] {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

/* ボタンの幅拡大 */
.d-button {
  appearance: none;
  border: 0;
  border-radius: 5px;
  /* background: #4676D7; */
  background: #cecece;
  /* color: #fff; */
  padding: 8px 16px;
  font-size: 16px;
  width:100px;
}

.d-button:hover {
  /* background: #1d49aa; */
  background: #4e4e4e;
  color: #ffffff;
}

.d-button:focus {
  outline: none;
  /*box-shadow: 0 0 0 4px #cbd6ee;*/
}

/* ダイアログのボタンの位置中央 */
.ui-dialog-buttonset{
   width: 100%;
   display: flex;
   display: -webkit-flex;
   text-align: center;
   justify-content: space-around;
   -webkit-justify-content: space-around;
}

/* ダイアログのタイトルバー */
.ui-dialog-titlebar{
   padding: 0.3rem !important;
   font-size:14px;
   font-weight: normal;
}

