<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ibiDoc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>Base.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSelectBoxDataServlet</display-name>
    <servlet-name>GetSelectBoxDataServlet</servlet-name>
    <servlet-class>servlet.GetSelectBoxDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSelectBoxDataServlet</servlet-name>
    <url-pattern>/GetSelectBoxDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>servlet.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>servlet.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserIdSelectBoxData</display-name>
    <servlet-name>GetUserIdSelectBoxData</servlet-name>
    <servlet-class>servlet.GetUserIdSelectBoxData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserIdSelectBoxData</servlet-name>
    <url-pattern>/GetUserIdSelectBoxData</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodeFilter</display-name>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginForward</display-name>
    <servlet-name>LoginForward</servlet-name>
    <servlet-class>servlet.LoginForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginForward</servlet-name>
    <url-pattern>/LoginForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPropertiesData</display-name>
    <servlet-name>GetPropertiesData</servlet-name>
    <servlet-class>servlet.GetPropertiesData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPropertiesData</servlet-name>
    <url-pattern>/GetPropertiesData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCheckForward</display-name>
    <servlet-name>SessionCheckForward</servlet-name>
    <servlet-class>servlet.SessionCheckForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCheckForward</servlet-name>
    <url-pattern>/SessionCheckForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthForward</display-name>
    <servlet-name>AuthForward</servlet-name>
    <servlet-class>servlet.AuthForward</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthForward</servlet-name>
    <url-pattern>/AuthForward</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMessageResource</display-name>
    <servlet-name>GetMessageResource</servlet-name>
    <servlet-class>servlet.GetMessageResource</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMessageResource</servlet-name>
    <url-pattern>/GetMessageResource</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmplMstInfo</display-name>
    <servlet-name>GetEmplMstInfo</servlet-name>
    <servlet-class>servlet.GetEmplMstInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmplMstInfo</servlet-name>
    <url-pattern>/GetEmplMstInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNameMstData</display-name>
    <servlet-name>GetNameMstData</servlet-name>
    <servlet-class>servlet.GetNameMstData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNameMstData</servlet-name>
    <url-pattern>/GetNameMstData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertSendReciveTranServlet</display-name>
    <servlet-name>InsertSendReciveTranServlet</servlet-name>
    <servlet-class>servlet.InsertSendReciveTranServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertSendReciveTranServlet</servlet-name>
    <url-pattern>/InsertSendReciveTranServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSendReciveTranDataServlet</display-name>
    <servlet-name>GetSendReciveTranDataServlet</servlet-name>
    <servlet-class>servlet.GetSendReciveTranDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSendReciveTranDataServlet</servlet-name>
    <url-pattern>/GetSendReciveTranDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmplMstDataServlet</display-name>
    <servlet-name>GetEmplMstDataServlet</servlet-name>
    <servlet-class>servlet.GetEmplMstDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmplMstDataServlet</servlet-name>
    <url-pattern>/GetEmplMstDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSendReciveTranSelectBoxServlet</display-name>
    <servlet-name>GetSendReciveTranSelectBoxServlet</servlet-name>
    <servlet-class>servlet.GetSendReciveTranSelectBoxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSendReciveTranSelectBoxServlet</servlet-name>
    <url-pattern>/GetSendReciveTranSelectBoxServlet</url-pattern>
  </servlet-mapping>
</web-app>